<% include partials/header %>

<div class="container">
	<form action="/results" autocomplete="off" method="GET" class="container-innr">
	  <label class="search" for="inpt_search">
			<input id="inpt_search" type="text" name="search"/>
		</label>
		<p class="title">Search your favorite Movie</p>
    <p class="info">Made with<i class="icon ion-ios-heart"></i> by Yeondam Park</p>
	</form>
</div>

<% include partials/footer %>