/*** COLORS ***/
/*** DEMO ***/
html,
body {
  height: 100%;
  margin: 0;
}
body {
  background: url('../images/48.jpg');
  font: 13px monospace;
  color: #eee;
}

p {
  color: #666;
}

ul {
  color: #666;
}

.container {
  display: table;
  width: 100%;
  height: 100%;
}
.container .container-innr {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/*** STYLES ***/
.search {
  display: inline-block;
  position: relative;
  height: 70px;
  width: 400px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 7px 9px 0px 9px;
  border: 3px solid #ffffff;
  border-radius: 50px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: text;
}

.search input {
  width: 85%;
  padding: 5px;
  border: none;
  box-sizing: border-box;
  font-family: 'Shrikhand', cursive;
  font-size: 35px;
  color: #666;
  background: transparent;
  outline-width: 0px;
}

.icon {
  color: coral;
  margin-left: 10px;
}

.title {
  font-size: 1.5em;
  margin-top: 20px;
}

.info {
  font-size: 1.2em;
}

.container-result {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #666;
  font-size: 2em;
}

.container-result-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.button {
  padding-top: 50px;
  text-align: center;
}

.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}